.overlay_div {
    top: 0;
    right: 0;
    height: 100%;
    width: 100vw;
    overflow: hidden !important;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.615);
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
}

.d_none_overlay {
    display: none;
}

.background_display_basket_overlay {
    height: 600px;
    width: 400px;
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    overflow-x: hidden;
    cursor: auto;
    padding: 0 8px;
}
.title_section_basket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 8px;
}
.close_button_overlay{
    color: grey;
    border: grey solid 2px;
    border-radius: 10px;
    height: 20px;
    width: auto;
    padding: 4px;
    transform: scale(1);
    cursor: pointer;
}
.close_button_overlay:hover{
    transform: scale(1.05);
}
.close_button_overlay_div{
display: flex;
justify-content: center;
align-items: center;
transform: translateY(-10px);
}

.family_img{
    object-fit: cover;
    width: 400px;
    height: 218px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transform: translateY(-20px);
}
.padding_text{
    padding: 0 4px;
    text-align: center;
    transform: translateY(-30px);
}
.close_button_about_us{
    height: 20px;
    width: auto;
    transform: scale(1);
    cursor: pointer;
}
.close_button_about_us:hover{
    transform: scale(1.05);
}
.close_button_overlay_about_us_div{
 width: 400px;
 height: auto;
 display: flex;
 justify-content: flex-end;
 padding-right: 30px;
padding-top: 25px;
}
.h2_uber_uns{
    transform: translateY(-20px);
}
