.overlay_div {
    top: 0;
    right: 0;
    height: 100%;
    width: 100vw;
    overflow: hidden !important;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.615);
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
}

.d_none_overlay {
    display: none;
}

.background_display_basket_overlay {
    height: 600px;
    width: 400px;
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
    overflow-x: hidden;
    cursor: auto;
    padding: 0 8px;
}

.title_section_basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 8px;
}

.close_button_overlay {
    color: grey;
    border: grey solid 2px;
    border-radius: 10px;
    height: 20px;
    width: auto;
    padding: 4px;
    transform: scale(1);
    cursor: pointer;
}

.close_button_overlay:hover {
    transform: scale(1.05);
}

.close_button_overlay_div {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-10px);
}

.family_img {
    object-fit: cover;
    width: 100%;
    height: 218px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 8px;

}

.padding_text {
    padding: 0 4px;
    text-align: center;
    transform: translateY(-30px);
}

.close_button_about_us {
    height: 20px;
    width: auto;
    transform: scale(1);
    cursor: pointer;
}

.close_button_about_us:hover {
    transform: scale(1.05);
}

.close_button_overlay_about_us_div {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 25px;
}

.h2_uber_uns {
    transform: translateY(-20px);
    margin-block-start: 0;
    margin-block-end: 0;
}

.overlay_menu {
    background-color: rgba(0, 0, 0, 0.615);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.d_none_menu {
    display: none;
}

.inner_overlay_manu {
    height: 600px;
    width: 400px;
    background-color: white;
    border: solid black 2px;
    border-radius: 25px;
    cursor: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-section_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.menu-section_overlay p {
    font-size: 24px;
    color: grey;
    cursor: pointer;
    margin-block-start: 0;
    margin-block-end: 0;
}

.menu-section_overlay p:hover {
    color: black;
    text-decoration: underline;
}

.close_button_overlay_menu {
    height: 24px;
    width: 24px;
    transform: scale(1);
    cursor: pointer;
    margin-top: 24px;
}

.close_button_overlay_menu:hover {
    transform: scale(1.2);
}

.close_button_overlay_basket {
    height: 24px;
    width: 24px;
    transform: scale(1);
    cursor: pointer;
}

.close_button_overlay_basket:hover {
    transform: scale(1.2);
}

.div_close_button_overlay_basket {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-section span {
    font-size: 20px;
}

.circled_menu_button {
    border: black solid 2px;
    border-radius: 25px;
    padding: 6px;
    background-color: #cccccc81;
}

.display_location {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.615);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden !important;
}

.d_none_location {
    display: none;
}

.inner_overlay_location {
    height: 600px;
    width: 400px;
    background-color: white;
    border: solid black 2px;
    border-radius: 25px;
    cursor: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: auto;
    padding-bottom: 10px;
}

.google_maps {
    width: 390px;
    height: 500px;
    border: solid grey 2px;
    border-radius: 25px;
    margin-top: 4px;
}

.close_button_overlay_location {
    height: 24px;
    width: 24px;
    transform: scale(1);
    cursor: pointer;
}

.close_button_overlay_location:hover {
    transform: scale(1.2);
}

.address_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display_about_us {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.615);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden !important;
}

.inner_overlay_about_us {
    height: 600px;
    width: 400px;
    background-color: white;
    border: solid black 2px;
    border-radius: 25px;
    cursor: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: auto;
}

.d_none_about_us {
    display: none;
}

.text_align_end {
    text-align: end;
}