a{
    text-decoration: none;
    color: black;
}
.d_none {
    display: none;
}
.d_none_mobile_basket{
    display: none;
}

.d_none_basket {
    display: none;
}

.d_none_main {
    display: none;
}
.d_none_menu_button{
    display: none;
}

header {
    background-color: #f08832;
    height: 100px;
    width: auto;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 48px;
    padding-left: 48px;
}

header span {
    transform: scale(1.5);
    cursor: pointer;
}

header span:hover {
    transform: scale(1.7);
}

footer {
    background-color: #f08832;
    height: 100px;
    width: auto;
    bottom: 0;
    right: 0;
}

.main_content {
    flex-grow: 1;
    width: 100%;
    display: flex;
}

.main_left {
    height: 100%;
    width: calc(100% - 308px);
    border-right: solid 2px #f9f5f2;
}

.main_right {
    min-height: 100vh;
    width: 308px;
    flex-grow: 1;
}

.aot_img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.aot_title_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    margin-top: -80px;
}

.restaurant_name_main {
    padding-left: 8px;
}

.steinofen_img {
    border-radius: 50%;
    border: solid 1px black;
    height: 150px;
    width: 150px;
}

.steinofen-img_div {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}

.starter_div {
    height: auto;
    max-width: 100%;
    background-color: #f9f5f2;
    padding: 10px 0 10px 24px;
    cursor: pointer;
    border: solid 1px grey;
    border-radius: 25px;
    margin: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    color: grey;
    font-size: 28px;
    transform: scale(0.99);
}

.starter_div:hover {
    transform: scale(1);
}

.main_dish_div {
    height: auto;
    max-width: 100%;
    background-color: #f9f5f2;
    padding: 10px 0 10px 24px;
    cursor: pointer;
    border: solid 1px grey;
    border-radius: 25px;
    margin: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    color: grey;
    font-size: 28px;
    transform: scale(0.99);
}

.main_dish_div:hover {
    transform: scale(1);
}

.dessert_div {
    height: auto;
    max-width: 100%;
    background-color: #f9f5f2;
    padding: 10px 0 10px 24px;
    cursor: pointer;
    border: solid 1px grey;
    border-radius: 25px;
    margin: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    color: grey;
    font-size: 28px;
    transform: scale(0.99);
}

.dessert_div:hover {
    transform: scale(1);
}

.drinks_div {
    height: auto;
    max-width: 100%;
    background-color: #f9f5f2;
    padding: 10px 0 10px 24px;
    cursor: pointer;
    border: solid 1px grey;
    border-radius: 25px;
    margin: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    color: grey;
    font-size: 28px;
    transform: scale(0.99);
}

.drinks_div:hover {
    transform: scale(1);
}

.specials_div {
    height: auto;
    max-width: 100%;
    background-color: #f9f5f2;
    padding: 10px 0 10px 24px;
    cursor: pointer;
    border: solid 1px grey;
    border-radius: 25px;
    margin: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    color: grey;
    font-size: 28px;
    transform: scale(0.99);
}

.specials_div:hover {
    transform: scale(1);
}

.orange_arrow_img {
    height: 50px;
    width: auto;
}

.single_divs_dishes {
    height: 140px;
    padding-left: 12px;
    flex-grow: 1;
    margin-right: 24px;
}

.display_starters {
    height: auto;
    width: 100%;
}

.title_dish {
    color: #f08832;
    margin-block-end: 0;
}

.price_dish {
    color: grey;
    font-size: 22px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.img_add_symbol {
    height: 32px;
    width: 32px;
    border: grey solid 1px;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    transform: scale(0.95);
}

.img_add_symbol:hover {
    transform: scale(1);
    filter: drop-shadow(0 0 4px grey);
    border: #f08832 solid 1px;
}

.div_add_symbol {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f08832;
}

.div_add_symbol p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.organise_single_dives_dishes {
    display: flex;
    border: solid 2px #f4f4f4;
    margin: 8px;
    border-radius: 25px;
    max-height: 150px !important;
}

.displayed_images_dishes {
    min-width: 200px;
    max-width: 200px;
    object-fit: cover;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.self-collection_possible {
    display: flex;
    justify-content: end;
    align-items: center;
    color: grey;
    gap: 8px;
    border: grey solid 1px;
    border-radius: 10px;
    padding: 4px;
    background-color: #f087326a;
}

.self-collection_possible span {
    font-size: 20px;
}

.self-collection_possible p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 14px;
}

.min_order_amount {
    display: flex;
    justify-content: end;
    align-items: center;
    color: grey;
    gap: 8px;
}

.min_order_amount span {
    font-size: 20px;
}

.min_order_amount p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 14px;
}

.aot_title_section_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: grey;
    margin-top: -80px;
    gap: 8px;
}

.add_symbol_basket p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.star {
    height: 20px;
    width: auto;
}

.star_rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding-left: 8px;
}

.star_rating p {
    color: grey;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 14px;
}

.like_heart {
    height: 32px;
    width: auto;
}

.like_heart_div {
    border: solid grey 2px;
    border-radius: 50%;
    padding: 8px 7px 5px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: scale(1);
}

.like_heart_div:hover {
    transform: scale(1.1);
    background-color: grey
}

.title_like_heart_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.menu-section p {
    color: grey;
    cursor: pointer;
    font-size: 20px;
}

.menu-section p:hover {
    color: black;
}
.underline:hover{
    text-decoration: underline;
}


